 
<link rel="stylesheet" href="{{ asset('bundles/mystyle_contact.css') }}" />
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body style="background-color:rgb(0, 255, 255);">

<div class="top" background="lugoj.jpg">
    <header> 
        <nav>
            <ul>
                <li style="font-size:200%"> <a href="home">Home</a>&nbsp&nbsp&nbsp<a href="form">Bookings&nbsp&nbsp&nbsp</a><a href="contact">Contact &nbsp&nbsp&nbsp&nbsp </a> 
                </li>
            </ul> 
        </nav>
    </header>
        <p style="font-size:400%; text-align:center; font-family:Apple Chancery;">Hotel Timis
        </p>
</div>
<div class="down">
    <header>
    </header>
    <article>
        <contact>
            {% for id, inf in info %}
            <p style="padding-top:100px; padding-right: 30px; padding-bottom: 10px; padding-left: 70px;">{{ inf.nume }}</p> 
            <p style="padding-top:0px; padding-right: 30px; padding-bottom: 10px; padding-left: 50px;">Email: {{ inf.email }}</p>
            <p style="padding-top:0px; padding-right: 30px; padding-bottom: 10px; padding-left: 50px;">Telefon: {{ inf.telefon }}</p>
            <p style="padding-top:0px; padding-right: 30px; padding-bottom: 10px; padding-left: 50px;">Adresa: {{ inf.adresa }}</p> 
            {% endfor %}
        </contact>
        <feedback>
            {{ form_start(contact) }}
            {{ form_row(contact.feedback) }}
            {{ form_end(contact) }} 
         </feedback>
    </article>
     <article>
        <feedback2>
         {{ form_start(form) }}
         {{ form_row(form.feedback) }}
         {{ form_end(form) }} 
        </feedback2>
    </articel>
    
</div>
    <footer>Copyright &copy; Stupidreason<footer>
</body>
</html>
