 
<link rel="stylesheet" href="{{ asset('bundles/mystyle_data.css') }}" />
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body >

<div class="top" background="lugoj.jpg">
    <header> 
        <nav>
            <ul>
                       <li style="font-size:200%"> <a href="home">Home</a>&nbsp<a href="form">Bookings &nbsp</a><a href="contact">Contact &nbsp </a> <a href="data">Data &nbsp</a> <a href="oview">Oview</a> &nbsp <a href="rezerv">Booking_Data &nbsp&nbsp </a>
                </li>
            </ul> 
        </nav>
    </header>
        <p style="font-size:400%; text-align:center; font-family:Apple Chancery;">Hotel Timis
        </p>
</div>
<div class="down">
    <header>
    </header>
        {{ form_start(del) }}{{ form_row(del) }}{{ form_end(del) }} 
        
<table class="border" width="100%" align="center" style="background-color :white; border-style: solid; border-width: 5px;">
        <thead>
            <tr style="border-style: double; border-width: 1px;">
                <th>RoomNR</th>
                <th>RoomType</th>
                <th>RoomVacancy</th>
                <th></th>
            </tr>  
        </thead>
            {% for id, rooms in room %}
        <tbody>
            <tr>
                <td align="center" style="border-style: solid; border-width: 1px;">{{ rooms.roomsnr }} </td>
                <td align="center" style="border-style: solid; border-width: 1px;">{{ rooms.roomtype }}</td>
                <td align="center" style="border-style: solid; border-width: 1px;">
                {% if rooms.ocupat == false %}
                    <label><input type="checkbox" name={{ rooms.id }} data='{{ rooms.ocupat }} checked='{{ rooms.ocupat }}'/>{{ rooms.id }}</label></
                {% endif %}
                {% if rooms.ocupat == true %}
                   <label><input type="checkbox" name={{ rooms.id }} data='{{ rooms.ocupat }}' checked='{{ rooms.ocupat }}'/>{{ rooms.id }}</label>
                {% endif %}
                   </td> 
                <td align="center"></td>

            </tr>   
           {% endfor %}
        </tbody>
    </table>

    <footer>Copyright &copy; Stupidreason<footer>
</div>
</body>
</html>






 
