 
<link rel="stylesheet" href="{{ asset('bundles/mystyle.css') }}" />
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body style="background-color:rgb(0, 255, 255);">

<div class="top" background="lugoj.jpg">
    <header> 
        <nav>
            <ul>
                <li style="font-size:200%"> <a href="home">Home</a>&nbsp&nbsp&nbsp<a href="form">Bookings&nbsp&nbsp&nbsp</a><a href="contact">Contact &nbsp&nbsp&nbsp&nbsp </a> 
                </li>
            </ul> 
        </nav>
    </header>
        <p style="font-size:400%; text-align:center; font-family:Apple Chancery;">Hotel Timis
        </p>
</div>
<div class="down">
    <header>
    </header>
    
<table class="border" width="100%" align="center" stype="background-color :white;">
        <thead>
            <tr>
                <th>RoomNR</th>
                <th>RoomType</th>
                <th>RoomVacancy</th>
                <th></th>
            </tr>  
        </thead>
            {% for id, rooms in room %}
        <tbody>
            <tr>
                <td align="center">{{ rooms.roomsnr }} </td>
                <td align="center">{{ rooms.roomtype }}</td>
                 <td align="center">{{ rooms.ocupat }}
                <label><input type="checkbox" name={{ rooms.id }} data='{{ rooms.ocupat }}'/>{{ rooms.id }}</label></td> 
                <td align="center"></td>

            </tr>   
           {% endfor %}
        </tbody>
    </table>

    <footer>Copyright &copy; Stupidreason<footer>
</div>
</body>
</html>






 
