 
<link rel="stylesheet" href="{{ asset('bundles/mystyle.css') }}" />
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body style="background-color:rgb(0, 255, 255);">

<div class="top" background="lugoj.jpg">
    <header> 
        <nav>
            <ul>
                <li style="font-size:200%"> <a href="home">Home</a>&nbsp&nbsp&nbsp<a href="form">Bookings&nbsp&nbsp&nbsp</a><a href="contact">Contact &nbsp&nbsp&nbsp&nbsp </a> 
                </li>
            </ul> 
        </nav>
    </header>
        <p style="font-size:400%; text-align:center; font-family:Apple Chancery;">Hotel Timis
        </p>
</div>
<div class="down">
    <header>
    </header>
    <article>
        <p>
            {{ form_start(contact) }}
            {{ form_row(contact.feedback) }}
            {{ form_end(contact) }} 
        </p>
        <p>
            {% for id, inf in info %}
            <p>{{ inf.nume }}</p> 
            <p>Email:{{ inf.email }}</p>
            <p>Telefon:{{ inf.telefon }}</p>
            <p>Adresa:{{ inf.adresa }}</p> 
            {% endfor %}
        </p>
    </article>
     <article>
        <p  >
         {{ form_start(form) }}
         {{ form_row(form.feedback) }}
         {{ form_end(form) }} 
        </p>
    </articel>
    
</div>
    <footer>Copyright &copy; Stupidreason<footer>
</body>
</html>
